</div> <!-- END page -->

</div> <!-- END blogBg -->


<div id="footer" style="margin:0 auto; width:950px;">
	<div>
	<span style="float:right;"><{T w='Powered by SpeedCMS'}> - <{T w='This CMS was developed by <a href="http://www.yancreate.com" target="_blank">yancreate.com</a>'}></span>
	<span id="bottomnavigation">
	<{foreach item=item name=nav from=$tBottomNavigation}>
		<A href="<{spUrl c=main a=page nid=$item.nid}>"><{$item.name}></a> 
	<{foreachelse}><{/foreach}></span>
	
	</div>
</div>
</body>
</html>