<table align="center" cellpadding="0" cellspacing="0" style="width:650px;">
	<tr>
		<td width="70"><{T w='Navigation'}>:</td>
		<td><{$tNavigationDetail.name}></td>
	</tr>
	<tr>
		<td><{T w='Title'}>:</td>
		<td><{$tNavigationDetail.title|escape}></td>
	</tr>
	<tr valign="top">
		<td><{T w='Content'}>:</td>
		<td><{$tNavigationDetail.content}></td>
	</tr>
</table>