<{include file=admin/header.html}>
<div id="wrapper">
	<div id="content">
		<div class="box">
			<h3><{T w='Read Me'}></h3>
			<p id="reademe">
				<{$tREADME}>
			</p>
		</div>
	</div>
	<{include file=admin/sidebar.html}>
</div>
<{include file=admin/footer.html}>