<{include file=admin/header.html}>
<link rel="stylesheet" type="text/css" href="/media/admin/css/navigation_index.css" />
<script type="text/javascript" src="/media/js/jquery.js?e"></script>
<script type="text/javascript" src="/media/js/drupal.js?e"></script>
<script type="text/javascript" src="/media/js/tabledrag.js?e"></script>
<script type="text/javascript" src="/media/js/tableheader.js?e"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {
	"basePath": "/speedcms/",
	"tableDrag": {
		"menu-top": { "menu-plid": [ { "target": "menu-plid", "source": "menu-mlid", "relationship": "parent", "action": "match", "hidden": true, "limit": 2 } ], "menu-weight": [ { "target": "menu-weight", "source": "menu-weight", "relationship": "sibling", "action": "order", "hidden": true, "limit": 0 } ] },
		"menu-bottom": { "menu-plid": [ { "target": "menu-plid", "source": "menu-mlid", "relationship": "parent", "action": "match", "hidden": true, "limit": 2 } ], "menu-weight": [ { "target": "menu-weight", "source": "menu-weight", "relationship": "sibling", "action": "order", "hidden": true, "limit": 0 } ] },
		"menu-other": { "menu-plid": [ { "target": "menu-plid", "source": "menu-mlid", "relationship": "parent", "action": "match", "hidden": true, "limit": 2 } ], "menu-weight": [ { "target": "menu-weight", "source": "menu-weight", "relationship": "sibling", "action": "order", "hidden": true, "limit": 0 } ] }
	}
});
//--><!]]>
</script>
<div id="wrapper">
            <div id="content">
				<div class="help"><p><{T w='To rearrange menu items, grab a drag-and-drop handle under the <em>Menu item</em> column and drag the items (or group of items) to a new location in the list. (Grab a handle by clicking and holding the mouse while hovering over a handle icon.) Remember that your changes will not be saved until you click the <em>Save configuration</em> button at the bottom of the page.'}></p></div>          
				<div id="box">
                <h3 id="topnavigation"><{T w='Top navigation'}></T></h3>
				<form action="<{spUrl c=navigation a=index}>"  accept-charset="UTF-8" method="post" id="menu-overview-form">
					<div>
					<table id="menu-top" class="sticky-enabled">
					<thead>
						<tr><th><{T w='Menu item'}></th><th class="checkbox"><{T w='Enabled'}></th><th class="checkbox"><{T w='Expanded'}></th><th>Weight</th><th colspan="3"><{T w='Operations'}></th> </tr></thead>
					<tbody>
						<{foreach item=item name=nav from=$tNavigationTop}>
						<tr class="menu-enabled draggable <{if $smarty.foreach.nav.index is div by 2}>even<{else}>odd<{/if}>">
							<td><a href="<{spUrl c=navigation a=edit nid=$item.nid}>"><{$item.name}></a></td>
							<td class="checkbox">
								<div class="form-item" id="edit-mlid:<{$item.nid}>-hidden-wrapper"> <input type="checkbox" name="mlid:<{$item.nid}>[hidden]" id="edit-mlid:<{$item.nid}>-hidden" value="1" <{if $item.enabled eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
							</td>
							<td class="checkbox">
								<div class="form-item" id="edit-mlid:<{$item.nid}>-expanded-wrapper"><input type="checkbox" name="mlid:<{$item.nid}>[expanded]" id="edit-mlid:<{$item.nid}>-expanded" value="1" <{if $item.expanded eq '1'}>checked="checked"<{/if}>   class="form-checkbox" /></div>
							</td>
							<td>
								<div class="form-item" id="edit-mlid:<{$item.nid}>-weight-wrapper"> <select name="mlid:<{$item.nid}>[weight]" class="form-select menu-weight" id="edit-mlid:<{$item.nid}>-weight" ><option value="-50">-50</option><option value="-49">-49</option><option value="-48">-48</option><option value="-47">-47</option><option value="-46">-46</option><option value="-45">-45</option><option value="-44">-44</option><option value="-43">-43</option><option value="-42">-42</option><option value="-41">-41</option><option value="-40">-40</option><option value="-39">-39</option><option value="-38">-38</option><option value="-37">-37</option><option value="-36">-36</option><option value="-35">-35</option><option value="-34">-34</option><option value="-33">-33</option><option value="-32">-32</option><option value="-31">-31</option><option value="-30">-30</option><option value="-29">-29</option><option value="-28">-28</option><option value="-27">-27</option><option value="-26">-26</option><option value="-25">-25</option><option value="-24">-24</option><option value="-23">-23</option><option value="-22">-22</option><option value="-21">-21</option><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select></div> <input type="hidden" name="mlid:<{$item.nid}>[plid]" id="edit-mlid:<{$item.nid}>-plid" value="<{$item.parentid}>"  class="menu-plid" /> <input type="hidden" name="mlid:<{$item.nid}>[mlid]" id="edit-mlid:<{$item.nid}>-mlid" value="<{$item.nid}>"  class="menu-mlid" />
							</td>
							<td>
								<a href="<{spUrl c=navigation a=edit nid=$item.nid}>"><{T w='edit'}></a>
							</td>
							<td><a href="<{spUrl c=navigation a=delete nid=$item.nid}>" onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};"><{T w='delete'}></a></td>
						</tr>
								<{foreach item=item2 name=nav2 from=$item.submenu}>
								<tr class="menu-enabled draggable <{if $smarty.foreach.nav.index is div by 2}>even<{else}>odd<{/if}>">
									<td><div class="indentation">&nbsp;</div><a href="<{spUrl c=navigation a=edit nid=$item2.nid}>"><{$item2.name}></a></td>
									<td class="checkbox">
										<div class="form-item" id="edit-mlid:<{$item2.nid}>-hidden-wrapper"> <input type="checkbox" name="mlid:<{$item2.nid}>[hidden]" id="edit-mlid:<{$item2.nid}>-hidden" value="1"  <{if $item2.enabled eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
									</td>
									<td class="checkbox">
										<div class="form-item" id="edit-mlid:<{$item2.nid}>-expanded-wrapper"><input type="checkbox" name="mlid:<{$item2.nid}>[expanded]" id="edit-mlid:<{$item2.nid}>-expanded" value="1" <{if $item2.expanded eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
									</td>
									<td>
										<div class="form-item" id="edit-mlid:<{$item2.nid}>-weight-wrapper"> <select name="mlid:<{$item2.nid}>[weight]" class="form-select menu-weight" id="edit-mlid:<{$item2.nid}>-weight" ><option value="-50">-50</option><option value="-49">-49</option><option value="-48">-48</option><option value="-47">-47</option><option value="-46">-46</option><option value="-45">-45</option><option value="-44">-44</option><option value="-43">-43</option><option value="-42">-42</option><option value="-41">-41</option><option value="-40">-40</option><option value="-39">-39</option><option value="-38">-38</option><option value="-37">-37</option><option value="-36">-36</option><option value="-35">-35</option><option value="-34">-34</option><option value="-33">-33</option><option value="-32">-32</option><option value="-31">-31</option><option value="-30">-30</option><option value="-29">-29</option><option value="-28">-28</option><option value="-27">-27</option><option value="-26">-26</option><option value="-25">-25</option><option value="-24">-24</option><option value="-23">-23</option><option value="-22">-22</option><option value="-21">-21</option><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select></div> <input type="hidden" name="mlid:<{$item2.nid}>[plid]" id="edit-mlid:<{$item2.nid}>-plid" value="<{$item2.parentid}>"  class="menu-plid" /> <input type="hidden" name="mlid:<{$item2.nid}>[mlid]" id="edit-mlid:<{$item2.nid}>-mlid" value="<{$item2.nid}>"  class="menu-mlid" />
									</td>
									<td>
										<a href="<{spUrl c=navigation a=edit nid=$item2.nid}>"><{T w='edit'}></a>
									</td>
									<td><a href="<{spUrl c=navigation a=delete nid=$item2.nid}>" onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};"><{T w='delete'}></a></td>
								</tr>
										<{foreach item=item3 name=nav3 from=$item2.submenu}>
										<tr class="menu-enabled draggable <{if $smarty.foreach.nav.index is div by 2}>even<{else}>odd<{/if}>">
											<td><div class="indentation">&nbsp;</div><div class="indentation">&nbsp;</div><a href="<{spUrl c=navigation a=edit nid=$item3.nid}>"><{$item3.name}></a></td>
											<td class="checkbox">
												<div class="form-item" id="edit-mlid:<{$item3.nid}>-hidden-wrapper"> <input type="checkbox" name="mlid:<{$item3.nid}>[hidden]" id="edit-mlid:<{$item3.nid}>-hidden" value="1"  <{if $item3.enabled eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
											</td>
											<td class="checkbox">
												<div class="form-item" id="edit-mlid:<{$item3.nid}>-expanded-wrapper"><input type="checkbox" name="mlid:<{$item3.nid}>[expanded]" id="edit-mlid:<{$item3.nid}>-expanded" value="1" <{if $item3.expanded eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
											</td>
											<td>
												<div class="form-item" id="edit-mlid:<{$item3.nid}>-weight-wrapper"> <select name="mlid:<{$item3.nid}>[weight]" class="form-select menu-weight" id="edit-mlid:<{$item3.nid}>-weight" ><option value="-50">-50</option><option value="-49">-49</option><option value="-48">-48</option><option value="-47">-47</option><option value="-46">-46</option><option value="-45">-45</option><option value="-44">-44</option><option value="-43">-43</option><option value="-42">-42</option><option value="-41">-41</option><option value="-40">-40</option><option value="-39">-39</option><option value="-38">-38</option><option value="-37">-37</option><option value="-36">-36</option><option value="-35">-35</option><option value="-34">-34</option><option value="-33">-33</option><option value="-32">-32</option><option value="-31">-31</option><option value="-30">-30</option><option value="-29">-29</option><option value="-28">-28</option><option value="-27">-27</option><option value="-26">-26</option><option value="-25">-25</option><option value="-24">-24</option><option value="-23">-23</option><option value="-22">-22</option><option value="-21">-21</option><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select></div> <input type="hidden" name="mlid:<{$item3.nid}>[plid]" id="edit-mlid:<{$item3.nid}>-plid" value="<{$item3.parentid}>"  class="menu-plid" /> <input type="hidden" name="mlid:<{$item3.nid}>[mlid]" id="edit-mlid:<{$item3.nid}>-mlid" value="<{$item3.nid}>"  class="menu-mlid" />
											</td>
											<td>
												<a href="<{spUrl c=navigation a=edit nid=$item3.nid}>"><{T w='edit'}></a>
											</td>
											<td><a href="<{spUrl c=navigation a=delete nid=$item3.nid}>" onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};"><{T w='delete'}></a></td>
										</tr>
										<{foreachelse}><{/foreach}>
								<{foreachelse}><{/foreach}>
						<{foreachelse}><{/foreach}>
						</tbody>
					</table>
					<input type="submit" name="op" id="edit-submit" value="<{T w='Save configuration'}>"  class="form-submit" />
					<input type="hidden" name="form_build_id" id="form-49e8e5e916c3e8c59bcf1dca754a11d1" value="form-49e8e5e916c3e8c59bcf1dca754a11d1"  />
					<input type="hidden" name="form_token" id="edit-menu-overview-form-form-token" value="b56ec1058f2fc7629918374e0e8143ff"  />
					<input type="hidden" name="form_id" id="edit-menu-overview-form" value="menu_overview_form"  />
					</div>
				</form>
				</div>
				<div id="box">
                <h3 id="bottomnavigation"><{T w='Bottom navigation'}></T></h3>
				<form action="<{spUrl c=navigation a=index}>"  accept-charset="UTF-8" method="post" id="menu-overview-form">
					<div>
					<table id="menu-bottom" class="sticky-enabled">
					<thead>
						<tr><th><{T w='Menu item'}></th><th class="checkbox"><{T w='Enabled'}></th><th class="checkbox"><{T w='Expanded'}></th><th>Weight</th><th colspan="3"><{T w='Operations'}></th> </tr></thead>
					<tbody>
						<{foreach item=item name=nav from=$tNavigationBottom}>
						<tr class="menu-enabled draggable <{if $smarty.foreach.nav.index is div by 2}>even<{else}>odd<{/if}>">
							<td><a href="<{spUrl c=navigation a=edit nid=$item.nid}>"><{$item.name}></a></td>
							<td class="checkbox">
								<div class="form-item" id="edit-mlid:<{$item.nid}>-hidden-wrapper"> <input type="checkbox" name="mlid:<{$item.nid}>[hidden]" id="edit-mlid:<{$item.nid}>-hidden" value="1" <{if $item.enabled eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
							</td>
							<td class="checkbox">
								<div class="form-item" id="edit-mlid:<{$item.nid}>-expanded-wrapper"><input type="checkbox" name="mlid:<{$item.nid}>[expanded]" id="edit-mlid:<{$item.nid}>-expanded" value="1" <{if $item.expanded eq '1'}>checked="checked"<{/if}>   class="form-checkbox" /></div>
							</td>
							<td>
								<div class="form-item" id="edit-mlid:<{$item.nid}>-weight-wrapper"> <select name="mlid:<{$item.nid}>[weight]" class="form-select menu-weight" id="edit-mlid:<{$item.nid}>-weight" ><option value="-50">-50</option><option value="-49">-49</option><option value="-48">-48</option><option value="-47">-47</option><option value="-46">-46</option><option value="-45">-45</option><option value="-44">-44</option><option value="-43">-43</option><option value="-42">-42</option><option value="-41">-41</option><option value="-40">-40</option><option value="-39">-39</option><option value="-38">-38</option><option value="-37">-37</option><option value="-36">-36</option><option value="-35">-35</option><option value="-34">-34</option><option value="-33">-33</option><option value="-32">-32</option><option value="-31">-31</option><option value="-30">-30</option><option value="-29">-29</option><option value="-28">-28</option><option value="-27">-27</option><option value="-26">-26</option><option value="-25">-25</option><option value="-24">-24</option><option value="-23">-23</option><option value="-22">-22</option><option value="-21">-21</option><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select></div> <input type="hidden" name="mlid:<{$item.nid}>[plid]" id="edit-mlid:<{$item.nid}>-plid" value="<{$item.parentid}>"  class="menu-plid" /> <input type="hidden" name="mlid:<{$item.nid}>[mlid]" id="edit-mlid:<{$item.nid}>-mlid" value="<{$item.nid}>"  class="menu-mlid" />
							</td>
							<td>
								<a href="<{spUrl c=navigation a=edit nid=$item.nid}>"><{T w='edit'}></a>
							</td>
							<td><a href="<{spUrl c=navigation a=delete nid=$item.nid}>" onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};"><{T w='delete'}></a></td>
						</tr>
								<{foreach item=item2 name=nav2 from=$item.submenu}>
								<tr class="menu-enabled draggable <{if $smarty.foreach.nav.index is div by 2}>even<{else}>odd<{/if}>">
									<td><div class="indentation">&nbsp;</div><a href="<{spUrl c=navigation a=edit nid=$item2.nid}>"><{$item2.name}></a></td>
									<td class="checkbox">
										<div class="form-item" id="edit-mlid:<{$item2.nid}>-hidden-wrapper"> <input type="checkbox" name="mlid:<{$item2.nid}>[hidden]" id="edit-mlid:<{$item2.nid}>-hidden" value="1"  <{if $item2.enabled eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
									</td>
									<td class="checkbox">
										<div class="form-item" id="edit-mlid:<{$item2.nid}>-expanded-wrapper"><input type="checkbox" name="mlid:<{$item2.nid}>[expanded]" id="edit-mlid:<{$item2.nid}>-expanded" value="1" <{if $item2.expanded eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
									</td>
									<td>
										<div class="form-item" id="edit-mlid:<{$item2.nid}>-weight-wrapper"> <select name="mlid:<{$item2.nid}>[weight]" class="form-select menu-weight" id="edit-mlid:<{$item2.nid}>-weight" ><option value="-50">-50</option><option value="-49">-49</option><option value="-48">-48</option><option value="-47">-47</option><option value="-46">-46</option><option value="-45">-45</option><option value="-44">-44</option><option value="-43">-43</option><option value="-42">-42</option><option value="-41">-41</option><option value="-40">-40</option><option value="-39">-39</option><option value="-38">-38</option><option value="-37">-37</option><option value="-36">-36</option><option value="-35">-35</option><option value="-34">-34</option><option value="-33">-33</option><option value="-32">-32</option><option value="-31">-31</option><option value="-30">-30</option><option value="-29">-29</option><option value="-28">-28</option><option value="-27">-27</option><option value="-26">-26</option><option value="-25">-25</option><option value="-24">-24</option><option value="-23">-23</option><option value="-22">-22</option><option value="-21">-21</option><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select></div> <input type="hidden" name="mlid:<{$item2.nid}>[plid]" id="edit-mlid:<{$item2.nid}>-plid" value="<{$item2.parentid}>"  class="menu-plid" /> <input type="hidden" name="mlid:<{$item2.nid}>[mlid]" id="edit-mlid:<{$item2.nid}>-mlid" value="<{$item2.nid}>"  class="menu-mlid" />
									</td>
									<td>
										<a href=""<{spUrl c=navigation a=edit nid=$item2.nid}>"><{T w='edit'}></a>
									</td>
									<td><a href=""<{spUrl c=navigation a=delete nid=$item2.nid}>" onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};"><{T w='delete'}></a></td>
								</tr>
										<{foreach item=item3 name=nav3 from=$item2.submenu}>
										<tr class="menu-enabled draggable <{if $smarty.foreach.nav.index is div by 2}>even<{else}>odd<{/if}>">
											<td><div class="indentation">&nbsp;</div><div class="indentation">&nbsp;</div><a href="<{spUrl c=navigation a=edit nid=$item3.nid}>"><{$item3.name}></a></td>
											<td class="checkbox">
												<div class="form-item" id="edit-mlid:<{$item3.nid}>-hidden-wrapper"> <input type="checkbox" name="mlid:<{$item3.nid}>[hidden]" id="edit-mlid:<{$item3.nid}>-hidden" value="1"  <{if $item3.enabled eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
											</td>
											<td class="checkbox">
												<div class="form-item" id="edit-mlid:<{$item3.nid}>-expanded-wrapper"><input type="checkbox" name="mlid:<{$item3.nid}>[expanded]" id="edit-mlid:<{$item3.nid}>-expanded" value="1" <{if $item3.expanded eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
											</td>
											<td>
												<div class="form-item" id="edit-mlid:<{$item3.nid}>-weight-wrapper"> <select name="mlid:<{$item3.nid}>[weight]" class="form-select menu-weight" id="edit-mlid:<{$item3.nid}>-weight" ><option value="-50">-50</option><option value="-49">-49</option><option value="-48">-48</option><option value="-47">-47</option><option value="-46">-46</option><option value="-45">-45</option><option value="-44">-44</option><option value="-43">-43</option><option value="-42">-42</option><option value="-41">-41</option><option value="-40">-40</option><option value="-39">-39</option><option value="-38">-38</option><option value="-37">-37</option><option value="-36">-36</option><option value="-35">-35</option><option value="-34">-34</option><option value="-33">-33</option><option value="-32">-32</option><option value="-31">-31</option><option value="-30">-30</option><option value="-29">-29</option><option value="-28">-28</option><option value="-27">-27</option><option value="-26">-26</option><option value="-25">-25</option><option value="-24">-24</option><option value="-23">-23</option><option value="-22">-22</option><option value="-21">-21</option><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select></div> <input type="hidden" name="mlid:<{$item3.nid}>[plid]" id="edit-mlid:<{$item3.nid}>-plid" value="<{$item3.parentid}>"  class="menu-plid" /> <input type="hidden" name="mlid:<{$item3.nid}>[mlid]" id="edit-mlid:<{$item3.nid}>-mlid" value="<{$item3.nid}>"  class="menu-mlid" />
											</td>
											<td>
												<a href="<{spUrl c=navigation a=edit nid=$item3.nid}>"><{T w='edit'}></a>
											</td>
											<td><a href="<{spUrl c=navigation a=delete nid=$item3.nid}>" onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};"><{T w='delete'}></a></td>
										</tr>
										<{foreachelse}><{/foreach}>
								<{foreachelse}><{/foreach}>
						<{foreachelse}><{/foreach}>
						</tbody>
					</table>
					<input type="submit" name="op" id="edit-submit" value="<{T w='Save configuration'}>"  class="form-submit" />
					<input type="hidden" name="form_build_id" id="form-49e8e5e916c3e8c59bcf1dca754a11d1" value="form-49e8e5e916c3e8c59bcf1dca754a11d1"  />
					<input type="hidden" name="form_token" id="edit-menu-overview-form-form-token" value="b56ec1058f2fc7629918374e0e8143ff"  />
					<input type="hidden" name="form_id" id="edit-menu-overview-form" value="menu_overview_form"  />
					</div>
				</form>
				</div>
				<div id="box">
                <h3 id="othernavigation"><{T w='Other navigation'}></T></h3>
				<form action="<{spUrl c=navigation a=index}>"  accept-charset="UTF-8" method="post" id="menu-overview-form">
					<div>
					<table id="menu-other" class="sticky-enabled">
					<thead>
						<tr><th><{T w='Menu item'}></th><th class="checkbox"><{T w='Enabled'}></th><th class="checkbox"><{T w='Expanded'}></th><th>Weight</th><th colspan="3"><{T w='Operations'}></th> </tr></thead>
					<tbody>
						<{foreach item=item name=nav from=$tNavigationOther}>
						<tr class="menu-enabled draggable <{if $smarty.foreach.nav.index is div by 2}>even<{else}>odd<{/if}>">
							<td><a href="<{spUrl c=navigation a=edit nid=$item.nid}>"><{$item.name}></a></td>
							<td class="checkbox">
								<div class="form-item" id="edit-mlid:<{$item.nid}>-hidden-wrapper"> <input type="checkbox" name="mlid:<{$item.nid}>[hidden]" id="edit-mlid:<{$item.nid}>-hidden" value="1" <{if $item.enabled eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
							</td>
							<td class="checkbox">
								<div class="form-item" id="edit-mlid:<{$item.nid}>-expanded-wrapper"><input type="checkbox" name="mlid:<{$item.nid}>[expanded]" id="edit-mlid:<{$item.nid}>-expanded" value="1" <{if $item.expanded eq '1'}>checked="checked"<{/if}>   class="form-checkbox" /></div>
							</td>
							<td>
								<div class="form-item" id="edit-mlid:<{$item.nid}>-weight-wrapper"> <select name="mlid:<{$item.nid}>[weight]" class="form-select menu-weight" id="edit-mlid:<{$item.nid}>-weight" ><option value="-50">-50</option><option value="-49">-49</option><option value="-48">-48</option><option value="-47">-47</option><option value="-46">-46</option><option value="-45">-45</option><option value="-44">-44</option><option value="-43">-43</option><option value="-42">-42</option><option value="-41">-41</option><option value="-40">-40</option><option value="-39">-39</option><option value="-38">-38</option><option value="-37">-37</option><option value="-36">-36</option><option value="-35">-35</option><option value="-34">-34</option><option value="-33">-33</option><option value="-32">-32</option><option value="-31">-31</option><option value="-30">-30</option><option value="-29">-29</option><option value="-28">-28</option><option value="-27">-27</option><option value="-26">-26</option><option value="-25">-25</option><option value="-24">-24</option><option value="-23">-23</option><option value="-22">-22</option><option value="-21">-21</option><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select></div> <input type="hidden" name="mlid:<{$item.nid}>[plid]" id="edit-mlid:<{$item.nid}>-plid" value="<{$item.parentid}>"  class="menu-plid" /> <input type="hidden" name="mlid:<{$item.nid}>[mlid]" id="edit-mlid:<{$item.nid}>-mlid" value="<{$item.nid}>"  class="menu-mlid" />
							</td>
							<td>
								<a href="<{spUrl c=navigation a=edit nid=$item.nid}>"><{T w='edit'}></a>
							</td>
							<td><a href="<{spUrl c=navigation a=delete nid=$item.nid}>" onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};"><{T w='delete'}></a></td>
						</tr>
								<{foreach item=item2 name=nav2 from=$item.submenu}>
								<tr class="menu-enabled draggable <{if $smarty.foreach.nav.index is div by 2}>even<{else}>odd<{/if}>">
									<td><div class="indentation">&nbsp;</div><a href="<{spUrl c=navigation a=edit nid=$item2.nid}>"><{$item2.name}></a></td>
									<td class="checkbox">
										<div class="form-item" id="edit-mlid:<{$item2.nid}>-hidden-wrapper"> <input type="checkbox" name="mlid:<{$item2.nid}>[hidden]" id="edit-mlid:<{$item2.nid}>-hidden" value="1"  <{if $item2.enabled eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
									</td>
									<td class="checkbox">
										<div class="form-item" id="edit-mlid:<{$item2.nid}>-expanded-wrapper"><input type="checkbox" name="mlid:<{$item2.nid}>[expanded]" id="edit-mlid:<{$item2.nid}>-expanded" value="1" <{if $item2.expanded eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
									</td>
									<td>
										<div class="form-item" id="edit-mlid:<{$item2.nid}>-weight-wrapper"> <select name="mlid:<{$item2.nid}>[weight]" class="form-select menu-weight" id="edit-mlid:<{$item2.nid}>-weight" ><option value="-50">-50</option><option value="-49">-49</option><option value="-48">-48</option><option value="-47">-47</option><option value="-46">-46</option><option value="-45">-45</option><option value="-44">-44</option><option value="-43">-43</option><option value="-42">-42</option><option value="-41">-41</option><option value="-40">-40</option><option value="-39">-39</option><option value="-38">-38</option><option value="-37">-37</option><option value="-36">-36</option><option value="-35">-35</option><option value="-34">-34</option><option value="-33">-33</option><option value="-32">-32</option><option value="-31">-31</option><option value="-30">-30</option><option value="-29">-29</option><option value="-28">-28</option><option value="-27">-27</option><option value="-26">-26</option><option value="-25">-25</option><option value="-24">-24</option><option value="-23">-23</option><option value="-22">-22</option><option value="-21">-21</option><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select></div> <input type="hidden" name="mlid:<{$item2.nid}>[plid]" id="edit-mlid:<{$item2.nid}>-plid" value="<{$item2.parentid}>"  class="menu-plid" /> <input type="hidden" name="mlid:<{$item2.nid}>[mlid]" id="edit-mlid:<{$item2.nid}>-mlid" value="<{$item2.nid}>"  class="menu-mlid" />
									</td>
									<td>
										<a href=""<{spUrl c=navigation a=edit nid=$item2.nid}>"><{T w='edit'}></a>
									</td>
									<td><a href=""<{spUrl c=navigation a=delete nid=$item2.nid}>" onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};"><{T w='delete'}></a></td>
								</tr>
										<{foreach item=item3 name=nav3 from=$item2.submenu}>
										<tr class="menu-enabled draggable <{if $smarty.foreach.nav.index is div by 2}>even<{else}>odd<{/if}>">
											<td><div class="indentation">&nbsp;</div><div class="indentation">&nbsp;</div><a href="<{spUrl c=navigation a=edit nid=$item3.nid}>"><{$item3.name}></a></td>
											<td class="checkbox">
												<div class="form-item" id="edit-mlid:<{$item3.nid}>-hidden-wrapper"> <input type="checkbox" name="mlid:<{$item3.nid}>[hidden]" id="edit-mlid:<{$item3.nid}>-hidden" value="1"  <{if $item3.enabled eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
											</td>
											<td class="checkbox">
												<div class="form-item" id="edit-mlid:<{$item3.nid}>-expanded-wrapper"><input type="checkbox" name="mlid:<{$item3.nid}>[expanded]" id="edit-mlid:<{$item3.nid}>-expanded" value="1" <{if $item3.expanded eq '1'}>checked="checked"<{/if}>  class="form-checkbox" /></div>
											</td>
											<td>
												<div class="form-item" id="edit-mlid:<{$item3.nid}>-weight-wrapper"> <select name="mlid:<{$item3.nid}>[weight]" class="form-select menu-weight" id="edit-mlid:<{$item3.nid}>-weight" ><option value="-50">-50</option><option value="-49">-49</option><option value="-48">-48</option><option value="-47">-47</option><option value="-46">-46</option><option value="-45">-45</option><option value="-44">-44</option><option value="-43">-43</option><option value="-42">-42</option><option value="-41">-41</option><option value="-40">-40</option><option value="-39">-39</option><option value="-38">-38</option><option value="-37">-37</option><option value="-36">-36</option><option value="-35">-35</option><option value="-34">-34</option><option value="-33">-33</option><option value="-32">-32</option><option value="-31">-31</option><option value="-30">-30</option><option value="-29">-29</option><option value="-28">-28</option><option value="-27">-27</option><option value="-26">-26</option><option value="-25">-25</option><option value="-24">-24</option><option value="-23">-23</option><option value="-22">-22</option><option value="-21">-21</option><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select></div> <input type="hidden" name="mlid:<{$item3.nid}>[plid]" id="edit-mlid:<{$item3.nid}>-plid" value="<{$item3.parentid}>"  class="menu-plid" /> <input type="hidden" name="mlid:<{$item3.nid}>[mlid]" id="edit-mlid:<{$item3.nid}>-mlid" value="<{$item3.nid}>"  class="menu-mlid" />
											</td>
											<td>
												<a href="<{spUrl c=navigation a=edit nid=$item3.nid}>"><{T w='edit'}></a>
											</td>
											<td><a href="<{spUrl c=navigation a=delete nid=$item3.nid}>" onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};"><{T w='delete'}></a></td>
										</tr>
										<{foreachelse}><{/foreach}>
								<{foreachelse}><{/foreach}>
						<{foreachelse}><{/foreach}>
						</tbody>
					</table>
					<input type="submit" name="op" id="edit-submit" value="<{T w='Save configuration'}>"  class="form-submit" />
					<input type="hidden" name="form_build_id" id="form-49e8e5e916c3e8c59bcf1dca754a11d1" value="form-49e8e5e916c3e8c59bcf1dca754a11d1"  />
					<input type="hidden" name="form_token" id="edit-menu-overview-form-form-token" value="b56ec1058f2fc7629918374e0e8143ff"  />
					<input type="hidden" name="form_id" id="edit-menu-overview-form" value="menu_overview_form"  />
					</div>
				</form>  
				</div>
            </div>
			<{include file=admin/sidebar.html}>
</div>
<{include file=admin/footer.html}>