<{include file=admin/header.html}>
<script>
$(document).ready(function(){
	$("#form").validate();
});
</script>
<div id="wrapper">
            <div id="content">
                <div id="box">
                	<h3 id="addnavigation"><{if $action eq 'add'}><{T w='Add navigation'}><{/if}><{if $action eq 'edit'}><{T w='Edit navigation'}><{/if}></h3>
                    <form id="form" action="<{spUrl c=navigation a=post}>" method="post">
                      <fieldset id="personal">
                        <legend><{T w='BASIC INFORMATION'}></legend>
                        <label for="name"><{T w='Navigation name'}> : </label> 
                        <input name="name" id="name" type="text" tabindex="1" value="<{$tNavigationDetail.name}>" class="required" />
                        <br />
                      </fieldset>
                      <fieldset id="opt">
                        <legend><{T w='OPTIONS'}></legend>
                        <label for="position"><{T w='Position'}> : </label>
                        <select name="position">
                          <{foreach item=item name=navpos from=$tNavigationPosition}>
                          <option <{if $tNavigationDetail.position eq $item.value}>selected="selected"<{/if}> label="<{$item.name}>" value="<{$item.value}>">
                          <{$item.name}>
                          </option>
                          <{foreachelse}><{/foreach}>
                        </select>
                        <br/>
                        <label for="enabled"><{T w='Enabled'}> : </label>
                        <select name="enabled">
                          <{foreach item=item from=$tNavigationEnabled}>
                          <option <{if $tNavigationDetail.enabled eq $item.value}>selected="selected"<{/if}> label="<{$item.name}>" value="<{$item.value}>">
                          <{$item.name}>
                          </option>
                          <{foreachelse}><{/foreach}>
                        </select>
                      </fieldset>
                      <div align="center">
                      <input type="hidden" name='action' value="<{$action}>"/>
                      <input type="hidden" name='nid' value="<{$tNavigationDetail.nid}>"/>
                      <input id="button1" type="submit" value="<{T w='Submit'}>" /> 
                      <input id="button2" type="reset" value="<{T w='Reset'}>" />
                      </div>
                    </form>

                </div>  
            </div>
			<{include file=admin/sidebar.html}>
</div>
<{include file=admin/footer.html}>