<div id="sidebar">
	<ul>
		<{*<li><h3><a href="#" class="folder_table"><{T w='Recent Actions'}></a></h3>
			<ul id="recent_actions">
			</ul>
		</li>*}>
		<li><h3><a href="#" class="report_seo"><{T w='Recent Pageview'}></a></h3>
			<ul id="recent_pageview">
			</ul>
		</li>
	</ul>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#recent_pageview").load('<{spUrl c=main a=recentpageview}>');
});
</script>