<{include file=admin/header.html}>
 <div id="wrapper">
            <div id="content">
                <div id="box">
                	<h3><{T w='Users'}></h3>
                	<table width="100%">
						<thead>
							<tr>
                            	<th width="40px"><a href="#">ID<img src="img/icons/arrow_down_mini.gif" width="16" height="16" align="absmiddle" /></a></th>
                            	<th><a href="#"><{T w='Username'}></a></th>
                            	<th><a href="#"><{T w='Full Name'}></a></th>
                                <th><a href="#"><{T w='Email'}></a></th>
                                <th width="50px"><a href="#"><{T w='ZIP'}></a></th>
                                <th width="90px"><a href="#"><{T w='Registered'}></a></th>
                                <th width="60px"><a href="#"><{T w='Action'}></a></th>
                            </tr>
						</thead>
						<tbody>
							<{foreach item=item name=user from=$tUsers}>
							<tr>
                            	<td class="a-center"><{$item.uid}></td>
                            	<td><{$item.uname}></td>
                            	<td><{$item.firstname}> <{$item.lastname}></td>
                            	<td><{$item.email}></td>
                                <td><{$item.zip}></td>
                                <td><{$item.addtime|date_format}></td>
                                <td  class="a-center"><{*<a href="<{spUrl c=user a=profile uid=$item.uid}>"><img src="/media/admin/img/icons/user.png" title="Show profile" width="16" height="16" /></a>*}><a href="<{spUrl c=user a=edit uid=$item.uid}>"><img src="/media/admin/img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a onclick="if(confirm('<{T w='delete this record?'}>')){return true}else{return false};" href="<{spUrl c=user a=delete uid=$item.uid}>"><img src="/media/admin/img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a></td>
                            </tr>
                            <{foreachelse}><{/foreach}>
						</tbody>
					</table>
                    <{if $tPageBar ne null}>
                    <div id="pager">
                    	Page <a href="<{spUrl c=user a=index page=$tPageBar.prev_page size=$tPageBar.page_size}>"><img src="/media/admin/img/icons/arrow_left.gif" width="16" height="16" /></a> 
                    	<input size="2" value="<{$tPageBar.current_page}>" type="text" name="page" id="page" /> 
                    	<a href="<{spUrl c=user a=index page=$tPageBar.next_page size=$tPageBar.page_size}>"><img src="/media/admin/img/icons/arrow_right.gif" width="16" height="16" /></a>of <{$tPageBar.total_page}>
                    pages | View <select id="size" name="size" onchange="location.href='/admin.php/user/index/page/1/size/'+$('#size').val();">
                    				<option <{if $tPageBar.page_size eq 10}>selected="selected"<{/if}>>10</option>
                                    <option <{if $tPageBar.page_size eq 20}>selected="selected"<{/if}>>20</option>
                                    <option <{if $tPageBar.page_size eq 50}>selected="selected"<{/if}>>50</option>
                                    <option <{if $tPageBar.page_size eq 100}>selected="selected"<{/if}>>100</option>
                    			</select> 
                    per page | Total <strong><{$tPageBar.total_count}></strong> records found
                    </div>
                    <{/if}>
                </div>
            </div>
            <{include file=admin/sidebar.html}>
      </div>
<{include file=admin/footer.html}>