	<table id="footer" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td align="left"><{foreach item=item name=bottomnav from=$tBottomNavigation}><A href="<{spUrl c=main a=page nid=$item.nid}>"><{$item.name}></a><{if !$smarty.foreach.bottomnav.last}>  |  <{/if}><{foreachelse}><{/foreach}>
						</td>
					</tr>
				</table>
				<table id="announce" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td align="right">   <{T w='Powered by SpeedCMS'}> - <{T w='This CMS was developed by <a href="http://www.yancreate.com" target="_blank">yancreate.com</a>'}> &nbsp;沪ICP备123456&nbsp;建议用（1024×768）浏览本站</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>