<{include file=skin/$skin/header.html}>
<table id="focus" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="<{$skinpath}>/images/home_focus.jpg" width="842" alt="首页焦点图" />
		</td>
	</tr>
</table>
<table id="box" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td id="about">
			<table  align="center" cellpadding="0" cellspacing="0">
				<tr><td class="title">关于本公司</td></tr>
				<tr><td width="240px" height="100px"><div style="width:230px; line-height:24px;font-size: 9pt; color: rgb(102, 102, 102); font-family: Tahoma;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;岩创网络科技有限公司成立于2010年6月，注册资本100万，我们是一家专注于网站建设，网络研发，移动互联网方向的科技公司，公司拥有引以为傲的研发团队.......</div></td></tr>
			</table>
		</td> 
		<td id="news">
			<table align="center" cellpadding="0" cellspacing="0">
				<tr ><td class="title">新闻动态</td></tr>
				<tr><td width="240px" height="100px" valign="top">
					<{foreach item=item from=$tHomeNews}>
					<table height="23" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 12px;"><tr><td width="95%"><font color="#999999">·&nbsp;<span id="zongcai"><a href="<{spUrl c='main' a='page' nid='1' news=$item.newsid}>"><{$item.title}></a></span>&nbsp;&nbsp;<img src="images/new.gif"></font></td></tr></tbody></table>
					<{foreachelse}><{/foreach}>
					</td>
				</tr>
			</table>
		</td>
		<td id="advantage">
			<table align="center" cellpadding="0" cellspacing="0">
				<tr ><td class="title">情景导航</td></tr>
				<tr><td width="240px" height="100px">
					<ul id="youshi">
					<li><img src="images/115.gif" /> <a href="http://www.yancreate.com/standard-website-packages/">标准网站建设套餐</a></li>
					<li><img src="images/115.gif" /> <a href="http://www.yancreate.com/english-website-packages/">英文网站建设套餐</a></li>
					<li><img src="images/115.gif" /> <a href="http://www.yancreate.com/showcase/">案例展示</a></li>
					<li><img src="images/115.gif" /> <a href="http://www.yancreate.com/service/">其他服务项目</a></li>
					</ul>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<style>
/* * * * * *  关于使用speedcms建设网站的一些提示 以下代码你可以删除  * * * * * */
.tips                              { position: fixed; top: 0; right: 0; width: 180px; padding: 8px 12px; font-size: 0.916em; opacity: 0.1;
                                     border: solid 1px #e1c400; color: black; background: #fff7c1; }
.tips:hover                        { opacity: 1; }
.tips div                          { max-height: 200px; overflow: auto; }
.tips h1,
.tips h2                           { margin: 10px 0 0; font-size: 1em; line-height: 1.5em; font-weight: bold; }
.tips h1                           { margin-top: 0; }
.tips ol                           { margin-top: 0; margin-bottom: 0; }
.tips footer                       { margin-top: 0; }

</style>
<div class="tips">
	<div>
	
	<h1>编辑SpeedCMS首页</h1>
	
	<h2>模版位置</h2>
	
	<ol>
		<li>template/skin/default/index.html</li>
	</ol>
	<h2>提示：</h2>
	
	<ol>
		<li>你可以编辑此模版，修改为任何你想要修改的内容</li>
		<li>切记要使用UTF8编码</li>
	</ol>
	</div>
</div>
<{include file=skin/$skin/footer.html}>