<{include file=skin/$skin/header.html}>
<table id="box" align="center" cellpadding="5" cellspacing="0">
	<tr>
		<td id="content" valign="top">
			<h1 class="title" style="font-size:14px;"><{$tNavigationDetail.title}></h1>
			
			<{$tNavigationDetail.content}>
			<!-- module: <{$tModule}> -->
			<{include file="module/$tModule.html"}>
		</td> 
		<td id="sidebar" width="240" valign="top">
			<table align="center" cellpadding="0" cellspacing="0">
				<tr ><td class="title"><a href="<{spUrl c=main a=page nid=$tNavigationDetail.nid}>"><{$tNavigationDetail.title}></a></td></tr>
				<tr>
					<td width="240px">
					<{foreach item=item name=nav from=$tNavigation}>
					<{if $item.nid eq $smarty.get.nid or $item.nid eq $tNavigationDetail.parentid }>
					<ul id="subnav">
						<{foreach item=i name=nav from=$item.submenu}>
						<li><img src="<{$skinpath}>/images/115.gif" /> <A href="<{spUrl c=main a=page nid=$i.nid}>"><{$i.name}></a></li>
						<{foreachelse}><script>$('#subnav').hide();$('#sidebar').hide();</script><{/foreach}>
					</ul>
					<{else}>
					<{/if}>
					<{foreachelse}><{/foreach}>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<style>
/* * * * * *  关于使用speedcms建设网站的一些提示 以下代码你可以删除  * * * * * */
.tips                              { position: fixed; top: 0; right: 0; width: 180px; padding: 8px 12px; font-size: 0.916em; opacity: 0.1;
                                     border: solid 1px #e1c400; color: black; background: #fff7c1; }
.tips:hover                        { opacity: 1; }
.tips div                          { max-height: 200px; overflow: auto; }
.tips h1,
.tips h2                           { margin: 10px 0 0; font-size: 1em; line-height: 1.5em; font-weight: bold; }
.tips h1                           { margin-top: 0; }
.tips ol                           { margin-top: 0; margin-bottom: 0; }
.tips footer                       { margin-top: 0; }

</style>
<div class="tips">
	<div>
	
	<h1>编辑SpeedCMS内容页</h1>
	
	<h2>模版位置</h2>
	
	<ol>
		<li>template/skin/default/page.html</li>
	</ol>
	<h2>提示：</h2>
	
	<ol>
		<li>你可以编辑此模版，修改为任何你想要修改的内容</li>
		<li>切记要使用UTF8编码</li>
	</ol>
	</div>
</div>
<{include file=skin/$skin/footer.html}>