<{include file=header.html}>
<div id="spotlight"></div> <!-- END SPOTLIGHT -->
</div> <!-- END HEADER -->
<{foreach item=item name=nav from=$tNavigation}>
<{if $item.nid eq $smarty.get.nid}>
<div class="navItemContainer" id="subnavigation">
	<div class="navItem">
		<img class="sideLogo" src="/themes/default/img/cms-footer-s.png" width="77" height="76" alt="<{T w='subnavigation'}>">
		<{foreach item=i name=nav from=$item.submenu}>
		<A href="<{spUrl c=main a=page nid=$i.nid}>"><{$i.name}></a>
		<{foreachelse}><script>$('#subnavigation').hide();$('#spotlight').hide();</script><{/foreach}>
	</div>
</div>
<{else}>
<script>$('#subnavigation').hide();$('#spotlight').hide();</script>
<{/if}>
<{foreachelse}><{/foreach}>

<div id="content">
	<div id="blog">
		<div class="sectioncontent">		
			<div class="post-34 post hentry category-uncategorized" id="post-34">
			
			<h1 class="title"><a href="#" rel="bookmark" title="Permanent Link to Snowl 0.3"><{$tNavigationDetail.title}></a></h1>

			
			<{$tNavigationDetail.content}>
			<!-- module: <{$tModule}> -->
			<{include file="module/$tModule.html"}>
			</div> <!-- END entry -->
			
					
		</div> <!-- END sectioncontent -->	
	</div> <!-- END blog -->
	<div id="feeds">

	<div class="sectioncontent">

	
	</div> <!-- END sectioncontent -->

</div> <!-- END feeds -->
</div> <!-- END content -->
<{include file=footer.html}>