<{include file=header.html}>
<p><{$tpl_title}>导航</p>
<p>
<a href="<{spUrl c=main a=index}>">Main_Index</a>&nbsp;&nbsp;
<a href="<{spUrl c=main a=page}>">Main_Page</a>&nbsp;&nbsp;
<a href="<{spUrl c=topic a=index}>">Topic_Index</a>&nbsp;&nbsp;
<a href="<{spUrl c=topic a=page id=100}>">Topic_Page</a>&nbsp;&nbsp;
</p>
<p>内容</p>
<p><{$contents}></p>
<{include file=footer.html}>