<{if $moduleaction eq ''}>
<{foreach item=item from=$tNews}>
<a href="<{spUrl c=main a=page nid=$tNavigationDetail.nid news=$item.newsid}>"><{$item.title}></a> <span class="bodytext"><{$item.cdate}></span><br/>
<{foreachelse}><{/foreach}>
<{/if}>

<{if $moduleaction eq 'detail'}>
<p class="header2">
<h2><{$tNews.title}></h2>
新闻发表于 <{$tNews.cdate}><br/>
<span class="bodytext">
<{$tNews.content}><br/>
<p style="text-align:right">
<a href="<{spUrl c=main a=page nid=$tNavigationDetail.nid}>">返回</a>
</p>
</span>
</p>
<{/if}>