<{if $moduleaction eq ''}>
<script src="/media/js/jquery.metadata.js" type="text/javascript"></script>
<script src="/media/js/jquery.validate.js" type="text/javascript"></script>
<script src="/media/js/jquery.form.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	$("#preorderform").validate();
});
</script>
<form name="preorderform" id="preorderform" action="<{$smarty.server.REQUEST_URI}>" method="post">
<p>
	<strong>Name</strong> <em>(in full)</em><br/>
	<input type="text" size="30" name="name" id="name" class="required" /> <span id="msgnameError"></span><br/>
	<strong>Email</strong><br/>
	<input type="text" size="30" name="email" id="email" class="{required:true, email:true, messages:{required:'Please enter your email address', email:'Please enter a valid email address'}}" /> <span id="msgemailError"></span><br />
	<strong>Contact Number</strong><br/>
	<input type="text" size="25" name="tel" id="tel" class="{required:true,number:true}" /><br/>
	<strong>Date of meal</strong> <em>(yyyy-mm-dd)</em>:<br/>
	<input type="text" size="15" name="mealdate" id="mealdate" class="{date:true}" /><br/>
	<strong>Time of arrival?</strong> <em>(estimated, am/pm)</em><br/>
	<input type="text" size="15" name="timearrive" id="timearrive" /><br/>
	<strong>Business, pleasure, Special Ocassion?</strong><br/>
	<input type="text" size="20" name="encountertype" id="encountertype" /><br/><br/>
	Your Order:</strong> include meal quantities, don't include drinks
	<br />
	<textarea rows="5" cols="55" name="mealorder" id="mealorder"></textarea><br/>
	<strong>Special Notes:</strong> requests, dietary requirements etc
	<br />
	<textarea rows="3" cols="55" name="extranotes" id="extranotes"></textarea><br/><br/>
	<input type="submit" id="submit" name="submit" border="0" value="SEND" /> 
	<input name="submitsoporder" type="hidden" id="submitsoporder" value="1" />
	
</p>
</form>
<{/if}>
<{if $moduleaction eq 'submit'}>
<p>
Submited!
</p>
<{/if}>