<{include file=header.html}>

			<div id="spotlight">
				
								
				<div id="pageheader">
				<h1>SpeedCMS</h1>
				</div>
				
				<div class="projectintro">
		 			
		 			<span class="name">SpeedCMS</span>
		 			<h2><{T w='Create website so simple'}></h2>
		 			<div class="textwidget">
		 				<{T w='Version'}>：V0.1Beta(2010-07-20) <{T w='Software size'}>：1.4MB<br/>IIS/Apache + PHP5 + MySQL4/5 <{T w='Last updated'}>：2010年07月20日
		 			</div>
						
				</div> <!-- END projectintro -->
				
							
			</div> <!-- END SPOTLIGHT -->

		
		</div> <!-- END HEADER -->
		<div id="projectbar">
			<div class="textwidget"><h2><a href="http://code.google.com/p/speedcms/downloads/list"><{T w='Download SpeedCMS now!'}></a></h2>
				<p><a href="http://code.google.com/p/speedcms/source/checkout"><{T w='Latest development build!'}></a></p>
				<p><{T w='Check out the latest project source code'}></p>
			</div>
		</div>

<{include file=footer.html}>